In [2]:
import pandas as pd

df1 = pd.read_csv('ExampleData/News_sentiment.csv')
df2 = pd.read_csv('ExampleData/Stock_data.csv')
df3 = pd.read_csv('ExampleData/Combined_data.csv')

In [3]:
#News sentiment data frame 
df1.head(100)

          Date  positive_score  negative_score  neutral_score
0   2024-01-10        0.931268        0.048263       0.020468
1   2024-01-30        0.617221        0.346448       0.036331
2   2024-02-06        0.931122        0.054438       0.014441
3   2024-02-09        0.864357        0.124156       0.011488
4   2024-02-20        0.891033        0.083565       0.025403
5   2024-03-14        0.920173        0.070242       0.009585
6   2024-04-19        0.879990        0.102148       0.017863
7   2024-04-23        0.919959        0.047714       0.032327
8   2024-04-24        0.934561        0.042721       0.022718
9   2024-05-02        0.816197        0.141640       0.042163
10  2024-05-04        0.923041        0.040618       0.036341
11  2024-05-31        0.498918        0.485064       0.016018
12  2024-06-04        0.920279        0.062942       0.016779
13  2024-07-06        0.810438        0.171501       0.018061
14  2024-07-18        0.852613        0.131645       0.015742
15  2024-07-23        0.631224        0.301278       0.067498
16  2024-08-05        0.918209        0.057892       0.023899
17  2024-08-21        0.904745        0.059451       0.035805
18  2024-08-24        0.742845        0.237909       0.019246
19  2024-08-27        0.820929        0.161747       0.017325
20  2024-08-28        0.869516        0.065844       0.064640
21  2024-09-03        0.935404        0.038761       0.025835
22  2024-09-04        0.893458        0.079381       0.027161
23  2024-09-05        0.671334        0.258352       0.070314
24  2024-09-24        0.948259        0.029175       0.022566
25  2024-10-16        0.932164        0.048049       0.019787
26  2024-10-17        0.644777        0.304844       0.050379
27  2024-10-18        0.885883        0.069790       0.044327
28  2024-10-21        0.819283        0.130136       0.050581
29  2024-10-25        0.738760        0.245674       0.015566
30  2024-10-28        0.867526        0.094874       0.037599
31  2024-10-29        0.839217        0.149744       0.011039
32  2024-11-06        0.944396        0.032320       0.023284
33  2024-11-07        0.873285        0.079612       0.047103
34  2024-11-08        0.614744        0.376152       0.009104
35  2024-11-14        0.624766        0.367984       0.007249
36  2024-11-29        0.773149        0.215026       0.011824
37  2024-12-04        0.780215        0.148090       0.071695
38  2024-12-06        0.705280        0.205115       0.089605
39  2024-12-13        0.858218        0.114192       0.027591
40  2024-12-22        0.748424        0.127087       0.124489
41  2024-12-23        0.500137        0.493006       0.006858
42  2024-12-25        0.850789        0.129267       0.019943
43  2024-12-30        0.823108        0.164387       0.012506
44  2025-01-05        0.729887        0.260980       0.009132
45  2025-01-09        0.867088        0.115626       0.017285

In [4]:
#Stock data frame
df2.head(100)

          Date        Open       Close        High         Low  Volume
0   2024-01-09  438.799988  435.899994  438.899994  434.200012  464230
1   2024-01-10  437.000000  437.000000  438.000000  434.799988  326912
2   2024-01-11  438.500000  436.399994  441.000000  435.500000  424158
3   2024-01-12  437.299988  440.700012  442.200012  437.000000  478615
4   2024-01-15  440.399994  438.899994  440.799988  437.700012  397742
..         ...         ...         ...         ...         ...     ...
95  2024-05-27  573.599976  578.200012  578.200012  572.799988  318757
96  2024-05-28  578.000000  573.799988  579.200012  569.400024  406217
97  2024-05-29  572.799988  575.200012  578.599976  572.200012  705767
98  2024-05-30  575.000000  577.799988  579.599976  574.000000  639295
99  2024-05-31  577.799988  575.599976  578.799988  573.200012  764052

[100 rows x 6 columns]

In [5]:
#Combined data frame 
df3.head(100)

,Date,Open,Close,High,Low,Volume,positive_score,negative_score,neutral_score
0,2024-01-09,438.799988,435.899994,438.899994,434.200012,464230,0.000000,0.000000,0.000000
1,2024-01-10,437.000000,437.000000,438.000000,434.799988,326912,0.931268,0.048263,0.020468
2,2024-01-11,438.500000,436.399994,441.000000,435.500000,424158,0.000000,0.000000,0.000000
3,2024-01-12,437.299988,440.700012,442.200012,437.000000,478615,0.000000,0.000000,0.000000
4,2024-01-15,440.399994,438.899994,440.799988,437.700012,397742,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
95,2024-05-27,573.599976,578.200012,578.200012,572.799988,318757,0.000000,0.000000,0.000000
96,2024-05-28,578.000000,573.799988,579.200012,569.400024,406217,0.000000,0.000000,0.000000
97,2024-05-29,572.799988,575.200012,578.599976,572.200012,705767,0.000000,0.000000,0.000000
98,2024-05-30,575.000000,577.799988,579.599976,574.000000,639295,0.000000,0.000000,0.000000
99,2024-05-31,577.799988,575.599976,578.799988,573.200012,764052,0.498918,0.485064,0.016018